<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <title>Initialisation du mot de passe Api Klaxon</title>
</head>

<body>
    <header>
        <h1>Klaxon</h1>
    </header>
    <main class="main_no_connect">
        <button class="back"><a href="/login">← Retour</a></button>


        <h2>Définir votre mot de passe</h2>
        <form class="form_no_connect" method="POST" action="/initPassword">
            <fieldset>
                <legend>Initialisation du mot de passe</legend>
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" placeholder="Nom" required>
                <label for="email">Adresse email:</label>
                <input type="email" id="email" name="mail" placeholder="Email" required>
                <label for="motDePasse">Créer un mot de passe:</label>
                <input type="password" id="motDePasse" name="password" placeholder="Nouveau mot de passe" required>
                <small>*attention le mot de passe doit contenir au moin 8 caractères.</small>
                <div class="btn_submit_reset">
                    <input type="submit" id="btn_submit" value="se connecter">
                    <input type="reset" id="btn_reset" value="effacer">
                </div>
                <% if (errorMessage) { %>
                    <p style="color:red;">
                        <%= errorMessage %>
                    </p>
                    <% } %>
            </fieldset>

        </form>
    </main>
    <footer>
        <small>©copyright 2025 Centre enuropéen de formation</small>
    </footer>
</body>